h1{
    
    
}

.boton {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

button {
    border: none;
    background: blue;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: all ease 400ms;
}

button:hover {
    transform: scale(1.1);
}